name: Release dist

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24

      - run: npm ci
      - run: npm run build
      - run: tar -czf dist.tar.gz dist
      - run: zip -r dist.zip dist

      - uses: softprops/action-gh-release@v2
        with:
          files: |
            dist.zip
            dist.tar.gz
